In [1]:
from pyecharts.charts import Bar,Tab,Line,Map,Timeline,Grid,Scatter
from pyecharts import options as opts 
import pandas as pd 
import numpy as np

df2 = pd.read_csv("gdp.csv",encoding='utf-8') 

def timeline_map() -> Timeline:
    tl = Timeline()
    for i in range(2013, 2018):
        map0 = (
            Map()
            .add(
                "", list(zip(list(df2.地区.unique()),list(df2["{}".format(i)]))), "world",is_map_symbol_show = False
            )
            .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
            .set_global_opts(
                title_opts=opts.TitleOpts(title="2013年-2017年世界各地区GDP总量".format(i),subtitle="",
                                         subtitle_textstyle_opts=opts.TextStyleOpts(color="black",font_size=16,font_style="italic")),
                visualmap_opts=opts.VisualMapOpts(max_=15000000000000),
               
            
            )
        )
        tl.add(map0, "{}年".format(i))
    return tl
Timeline_map = timeline_map()
Timeline_map.render('世界各地区GDP总量.html')

'C:\\Users\\Etcm\\Desktop\\数据\\世界各地区GDP总量.html'

In [83]:
df = pd.read_csv("lvyou.csv",encoding='utf-8') 

def timeline_bar() -> Timeline:
    x = list(df.地区)
    tl = Timeline()
    for i in range(2013, 2018):
        bar = (
            Bar()
            .add_xaxis(x)
            .add_yaxis("世界各地区旅游总收入", list(df["{}".format(i)]))
            .add_yaxis("世界各地区GDP总量", list(df2["{}".format(i)]))
            .reversal_axis()
            .set_global_opts(title_opts=opts.TitleOpts("{}年".format(i)),
                            datazoom_opts=opts.DataZoomOpts(orient="vertical",range_start="50",range_end="60"))
            .set_series_opts(
            label_opts=opts.LabelOpts(is_show=False),
        )
        )
        tl.add(bar, "{}年".format(i))
    return tl

Timeline_bar = timeline_bar()
Timeline_bar.render('世界各地区旅游总收入与GDP总量对比.html')

'C:\\Users\\Etcm\\Desktop\\数据\\世界各地区旅游总收入与GDP总量对比.html'

In [123]:
import pandas as pd
df3=pd.read_csv("pm2.5.csv",index_col=0)
df3.head()

,2010,2011,2012,2013,2014,2015,2016,2017
地区,,,,,,,,
Australia,10.618879,11.047265,10.537090,9.987684,9.492979,9.320015,8.614509,8.550324
Canada,8.384457,8.624461,8.107410,7.791636,7.428420,7.151582,6.549075,6.428383
China,69.479570,70.542029,63.827017,65.514550,59.767368,59.063422,52.211322,52.664596
France,14.845621,14.878019,13.834754,13.594309,12.289703,12.745708,11.855184,11.814964
United Kingdom,12.299108,12.847999,11.814495,11.618901,10.800560,10.754873,10.504667,10.472690

In [125]:
df3.columns = [int(x) for x in df3.columns]
df3.index = ['Australia','Canada','China','France','United Kingdom','Japan','Russia','United States']
df3.head()

,2010,2011,2012,2013,2014,2015,2016,2017
Australia,10.618879,11.047265,10.537090,9.987684,9.492979,9.320015,8.614509,8.550324
Canada,8.384457,8.624461,8.107410,7.791636,7.428420,7.151582,6.549075,6.428383
China,69.479570,70.542029,63.827017,65.514550,59.767368,59.063422,52.211322,52.664596
France,14.845621,14.878019,13.834754,13.594309,12.289703,12.745708,11.855184,11.814964
United Kingdom,12.299108,12.847999,11.814495,11.618901,10.800560,10.754873,10.504667,10.472690

In [126]:
df3.loc["China",:]

2010    69.479570
2011    70.542029
2012    63.827017
2013    65.514550
2014    59.767368
2015    59.063422
2016    52.211322
2017    52.664596
Name: China, dtype: float64

In [131]:
import plotly as py
import plotly.graph_objs as go

中国 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in df3.columns.values],
    y=df3.loc["China",:].values,
    name = "中国"
)

美国 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in df3.columns.values],
    y=df3.loc["United States",:].values,
    name = "美国"
)
澳大利亚 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in df3.columns.values],
    y=df3.loc["Australia",:].values,
    name = "澳大利亚"
)
法国 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in df3.columns.values],
    y=df3.loc["France",:].values,
    name = "法国"
)
英国 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in df3.columns.values],
    y=df3.loc["United Kingdom",:].values,
    name = "英国"
)
日本 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in df3.columns.values],
    y=df3.loc["Japan",:].values,
    name = "日本"
)
俄罗斯 = go.Scatter(
    x=[pd.to_datetime('01/01/{y}'.format(y=x), format="%m/%d/%Y") for x in df3.columns.values],
    y=df3.loc["Russia",:].values,
    name = "俄罗斯"
)

layout = dict(xaxis=dict(rangeselector=dict( buttons=list([
                                                dict(count=3,
                                                     label="2年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=5,
                                                     label="4年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=10,
                                                     label="6年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(count=20,
                                                     label="8年",
                                                     step="year",
                                                     stepmode="backward"),
                                                dict(step="all")
                                            ])),
                         rangeslider=dict(bgcolor="#EEB4B4"),
                         title='年份'
                        ),
              yaxis=dict(title='PM2.5污染量'),
              title="PM2.5污染量对比"               
             )

shouru = dict(data=[中国,美国,澳大利亚,法国,英国,日本,俄罗斯], layout=layout) 

py.offline.plot(shouru,filename = 'PM2.5污染量对比.html')

'PM2.5污染量对比.html'

In [275]:
df4 = pd.read_csv("qianyi.csv")
df4

,地区,1982,1987,1992,1997,2002,2007,2012,2017
0,Australia,453572,654209,351078,388419,589282,1210802,989375,791229
1,Canada,373939,859217,690555,783535,1052013,1326431,1241416,1210159
2,China,-200000,-431651,-779982,-382999,-1965578,-2178385,-1552209,-1741996
3,France,291570,276383,122170,193631,926483,446120,423831,182636
4,United Kingdom,-97495,98758,205443,513361,992223,2189404,1300231,1303250
5,Japan,50002,-298339,46286,-100333,164199,277580,358133,357800
6,Russia,1100559,890253,2490121,2374657,1778101,2326672,1800600,912279
7,United States,3382460,3366853,4463754,8859954,5334893,5428756,4961716,4774029

In [313]:
def pie_rosetype() -> Pie:
    v = Faker.choose()
    c = (
        Pie()
        .add(
            "",
            [list(z) for z in zip(df4.地区, df4['2017'])],
            radius=["30%", "75%"],
            center=["25%", "50%"],
            rosetype="radius",
        )
        .add(
            "",
            [list(z) for z in zip(df4.地区, df4['2012'])],
            radius=["30%", "75%"],
            center=["75%", "50%"],
            rosetype="area",
            label_opts=opts.LabelOpts(is_show=False),
        )
        .set_global_opts(title_opts=opts.TitleOpts(title=""))
    )
    return c

In [314]:
迁移=pie_rosetype()
迁移.render('个别国家的迁移人数对比.html')

'C:\\Users\\Etcm\\Desktop\\数据\\个别国家的迁移人数对比.html'

In [326]:
from pyecharts.charts import Bar,Tab,Line,Map,Timeline,Grid,Scatter
from pyecharts import options as opts 
import pandas as pd 
import numpy as np

df5 = pd.read_csv("lvyou.csv",encoding='utf-8') 

def timeline_map() -> Timeline:
    tl = Timeline()
    for i in range(2013, 2018):
        map0 = (
            Map()
            .add(
                "", list(zip(list(df5.地区.unique()),list(df5["{}".format(i)]))), "world",is_map_symbol_show = False
            )
            .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
            .set_global_opts(
                title_opts=opts.TitleOpts(title="2013年-2017年世界各地区旅游总收入".format(i),subtitle="",
                                         subtitle_textstyle_opts=opts.TextStyleOpts(color="black",font_size=16,font_style="italic")),
                visualmap_opts=opts.VisualMapOpts(max_=70000000000),
               
            
            )
        )
        tl.add(map0, "{}年".format(i))
    return tl
map = timeline_map()
map.render('世界各地区旅游总收入.html')

'C:\\Users\\Etcm\\Desktop\\数据\\世界各地区旅游总收入.html'